<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("assets/framework/bootstrap/css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/main/css/style.css") }}">
    {% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            Админка
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin_home') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin_user') }}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" target="_blank" aria-current="page" href="{{ path('home') }}">Выход на сайт</a>
                </li>
            </ul>
            <form class="form-inline" style="margin-left: auto">
                <a href="{{ path("app_logout") }}" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Выход</a>
            </form>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset("assets/framework/bootstrap/js/bootstrap.js") }}"></script>
{% endblock %}
</body>
</html>
